
main{
    text-align: center;
    justify-content: center;
    max-height: fit-content;
    min-width: fit-content;
}
.box{
    border-style: dashed ;
    border-radius: 1pc;
    color: gray;
    border-color:green ;
}

.main1{
    text-align: center;
    justify-content: center;
    max-height: fit-content;
    min-width: fit-content; 
}


.formname{
    background-color: rgb(14, 14, 14);
    text-align: center;
    color: white;
    border: 3px solid red;
    border-radius: 10px;
}

.formname1{
    text-align: center;
}
.botton1{
    background-color: green;
    font-size: xx-large;
    border: 5px solid black;
    border-radius: 10px;
    color: white;
    
}
.botton1{
    position: -webkit-sticky;
    position: sticky;
    bottom:1px ;
    
}


 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #f6e6e6;
  color: #050505;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border: 2px solid black;
  border-radius: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;

} 




/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.submit:hover {

  background-color: #45a049;
}
.submit
    {
       font-size: x-large; 
       color: white;
       background-color: green;
       border: 5px solid rgb(0, 0, 0);
       border-radius: 10px;
      }

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
z

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
